{% extends 'components/layout.html' %}

{% block title %} 
Find Other Users
{% endblock title %} 

{% block content %} 
<div class="container-fluid justify-content-center">
    <div class="row justify-content-center mb-4">
        <h3 class="text-center">
            Find Other Users:
        </h3>
    </div>
    <div class="row justify-content-center ml-5">
        {% for user in users %}
        <div class="card align-content-center" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title d-flex justify-content-center" >{{ user.username }}</h5>
                {% if user.short_bio %}<h6 class="card-text d-flex flex-wrap justify-content-center">{{ user.short_bio }}</h6>{% endif %}
                {% if user.bio %} <p class="card-text d-flex flex-wrap justify-content-center">Bio</p>{% endif %}
                <a href="{{ url_for('user_lists.userProfile', username=user.username) }}" class="btn btn-block btn-outline-primary mt-3">View Profile</a>
                {% if not current_user.is_authenticated %}
                <a href="{{ url_for('auth.login') }}" class="btn btn-block btn-outline-info">Login to Follow</a>
                {% elif user.id != current_user.id and user not in current_user.followed %} 
                <a href="{{ url_for('user_lists.follow', uid=user.id) }}" class="btn btn-block btn-outline-info">Follow</a>
                {% else %}
                <a href="{{ url_for('user_lists.unfollow', uid=user.id) }}" class="btn btn-block btn-outline-info">Unfollow</a>
                {% endif %}
            </div> <!--end of card body-->
        </div> <!-- end of card div-->
        {% endfor %}
    </div> <!-- end of row div-->
</div><!-- end of container div-->
{% endblock content %}