{% extends 'components/layout.html' %}

{% block title %}
{ user.username }'s Movie Watchlist
{% endblock title %}

{% block content%} 
<div class="container-fluid">
    <div class="row">
        <div class="card-deck m-5">
            {% if users_movies_watchlist %}
                {% for x in users_movies_watchlist %}
                <div class="card d-flex flex-column" style="width: 50px">
                    <p>{{ x.movie_title }} - {{ x.timestamp }}</p>
                    <a href="{{ url_for('user_lists.delFromMovie_Watchlist', mwatchlist_id=movie_watch_ind.id) }}" class="btn btn-outline-info">Remove From Your Watchlist</a>
                    <a href="{{ url_for('user_lists.addToMovie_Faves', movie_title= movie_watch_ind.movie_title ) }}" class="btn btn-outline-info">Add to Your Favorites</a>
                </div>
                {% endfor %}
            {% else %}
                <p class="empty-list">{{ user.username }} currently doesn't have any movies listed in their watchlist!! </p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}