{% extends 'components/layout.html' %} 

{% block title %}
{{ user.username }}'s Profile
{% endblock title %}

{% block css %}
{% endblock css %}

{% block content %}
<!--S1: user queried does not exist-->
{% if not user %}
<div class="row justify-content-center">
    <div class="col-6">
        <h4>404 Error: User does not exist!</h4>
    </div>
</div>
{% else %} <!-- user does exist-->
<div class="container-fluid">
    <div class="row ml-4">
        <h1 class="user_info">@ {{ user.username }} </h1>
    </div>
<hr>
<!--S4: signed in - signed in user's page -->
        <!-- stuff from signed in user's page -->
<!--S2, S3 are similar just matters if user is logged in-->
<!-- S2: if user is logged in, will see follow/unfollow button for that user whose profile we are on, and add to watchlist/add to favorites buttons -->
<!-- S3: if user is not logged in, will see a 'register/sign in to follow button'-->
    <div class="row d-flex m-4 justify-content-between">
        <div class="col-4 justify-content-center mr-auto">
            <div class="side-panel_card align-content-center justify-content-center float-right mr-4" style="width:18rem">
                <div class="card-body">
                    <h5 class="card-title d-flex justify-content-center" >@{{ user.username }}</h5>
                    {% if user.short_bio %}
                    <h6 class="card-text d-flex flex-wrap font-weight-heavy justify-content-center">{{ user.short_bio }}</h6>
                    {% endif %}
                    {% if user.bio %}
                    <p class="card-text d-flex flex-wrap justify-content-center">{{ user.bio }}</p>
                    {% endif %}
                </div> 
                <div class="card-body justify-content-center">
                {% if not current_user.is_authenticated %}
                <a href="{{ url_for('auth.login') }}" class="btn btn-block btn-outline-info">Login to Follow</a>
                {% elif user.id != current_user.id and user not in current_user.followed %} 
                <a href="{{ url_for('user_lists.follow', uid=user.id) }}" class="btn btn-block btn-outline-info">Follow</a>
                {% else %}
                <a href="{{ url_for('user_lists.unfollow', uid=user.id) }}" class="btn btn-block btn-outline-info justify-content-center">Unfollow</a>
                {% endif %}
                </div>
            </div>
        </div>
        <div class="col-8">
            {% if user.id == current_user.id %}
            <form method="POST">
                {{ form.hidden_tag() }}
                <div class="form-group">
                    <fieldset class="createPost_field">
                        {{ form.postbody.label(class = "form_field_label") }}
                        {{ form.postbody(class="form-control", placeholder="What do you feel like sharing today?") }}
                    </fieldset>
                    {{ form.submit(class='btn btn-block btn-info submit-button')}}
                </div>
            </form>
            {% endif %}
            {% if posts %}
            <div class="card-deck d-flex flex-row justify-content-between mt-3 mb-3">
                {% for x in posts %}
                <div class="card" style="width:18rem">
                    <div class="card-header">
                        <h3>@{{ user.username }}</h3>
                    </div>
                    <div class="card-body">
                        <h3>{{ x.body }}</h3>
                    </div>
                </div>
                {% endfor %}
                </div>
            </div>
            {% else %}
            <h3> This user hasnt made any posts yet</h3>
            {% endif %}
        </div>
    <div class="row">
        <div class="col-12">
            <div class="card-deck">
                {% if movie_fave_list %}
                <div class="card">
                    <h3 class="card-header">{{ user.username }} Movie Favorites</h3>
                    <a href="{{ url_for('user_lists.viewUserMovieFavorites', username=user.username) }}" class="btn btn-outline-danger">Movie Favorites</a>
                </div>
                {% endif %}
                {% if movie_watchlist %}
                <div class="card">
                    <h3 class="class-header">{{ user.username }} Movie Watchlist</h3>
                    <a href="{{ url_for('user_lists.viewUserMovieWatchlist', username=user.username) }}" class="btn btn-outline-danger">Movie Watchlist</a>
                </div>
                {% endif %}
                {% if tv_fave_list %}
                <div class="card">
                    <h3 class="card-header">{{ user.username }} TV Favorites</h3>
                    <a href="{{ url_for('user_lists.viewUserTVFavorites', username=user.username) }}" class="btn btn-outline-danger">TV Favorites</a>
                </div>
                {% endif %}
                {% if tv_watchlist %}
                <div class="card">
                    <h3 class="class-header">{{ user.username }} TV Watchlist</h3>
                    <a href="{{ url_for('user_lists.viewUserTVWatchlist', username=user.username) }}" class="btn btn-outline-danger">TV Watchlist</a>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    </div>
    {% endif %}

{% endblock content %}