{% extends 'components/layout.html' %}

{% block title %}
{ user.username }'s Favorite Movies
{% endblock title %}

{% block content%} 
<div class="container-fluid">
    <div class="row">
        <ul>
            {% for favorite_movie in users_fave_movies %}
            <li>
                <p>{{ favorite_movie.movie_title }} - {{ favorite_movie.timestamp }}</p>
                <a href="{{ url_for('user_lists.delFromMovie_Faves', mfaves_id=favorite_movie.id) }}" class="btn btn-outline-info">Remove From Your Favorites</a>
                <a href="{{ url_for('user_lists.addToMovie_Watchlist', movie_title= favorite_movie.movie_title ) }}" class="btn btn-outline-info">Add to Your Watchlist</a>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock content %}