*{
    padding: 0px;
    margin: 0px;
    font-family: 'Tahoma', Geneva, Verdana, sans-serif;
    /* background-color:rgb(28, 23, 43); */
    background-color: rgb(26, 58, 68);
    color:white;
}

body{
    background-color: transparent;
}
.navbar-nav{ 
    /* background: rgb(28, 28, 33); */
    color: rgb(47, 192, 47);
}

.navbar-toggler-icon{
    color: white;
    background-color: rgb(26, 58, 68);
    border: 5px solid darkslategray;
}


.dropdown-menu{
    background: seashell;
    margin-right: 15rem;
}

.nav-link, a:link {
    color: white;
}

.card_row{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 3px 8px;
}

.card-deck{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    overflow-y: visible;
    overflow-x: hidden; /* what do clip and auto do? */
    padding:10px;
    margin: 10px;
    /* background-color: black;
    color: white */
    box-shadow: 0px 0px 5px 3px lightslategrey;
}
.card{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
    width: 100%;
    object-fit: contain;
    max-height: 100%;
    background: transparent;
    padding: 15px;
    margin: 5px 8px;
    box-shadow: 2px 3px 4px lightslategray;
}

.media-scroller{
    --_spacer: 2rem;
    display: grid;
    gap: var(--_spacer);
    grid-auto-flow: column;
    grid-auto-columns: 12.5%;
    margin: var(--_spacer);
    padding: var(--_spacer);
    overflow-x: auto;
    overscroll-behavior-inline: contain;
    box-shadow: 0px 0px 5px 3px lightslategrey;

}

.snaps-inline{
    scroll-snap-type: inline mandatory;
}

.snaps-inline > *{
    scroll-snap-align: start;
    scroll-padding-inline: var(--_spacer);
}

.media-card{
    display: grid;
    grid-template-rows: min-content;
    padding: var(--_spacer);
    background-color:rgb(16, 37, 37);
    border-radius: 30px;
    overflow: hidden;
}

.media-card>img{
    inline-size: 100%;
    object-fit: cover;
}

/* .card-text{
    padding: 1.5em;
    background: linear-gradient(
        hsl(0 0% 0% / 0),
        hsl(20 0% 0% / 0.35) 250%, 
        hsl(0 0% 0% / 1)
    );
} */

.card:hover{
    box-shadow: 0px 3px 6px darkblue;
}

.buttons-group{
    background-color: transparent;
    justify-content: space-between;
    margin: 4px;
}