{% extends 'components/layout.html' %} 

{% block title %}
About Us
{% endblock title %}

{% block css %}
<link ref="stylesheet" href="../static/css/auth_pages.css">
{% endblock css %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-6 about-page-whole-text">
            <h3 class="about-page-header">About Us</h3>
            <div class="about-page-main-text">
                What's Next is an application that helps people share and find recommendations for movies, tv shows, and podcasts. Users are encourages to make a list of their favorites in whichever category they choose, or alternatively, make a watchlist/to listen list for things they hope to explore in the future!
            </div>
            <div class="about-page-resources used">
                <h3 class="about-page header"></h3>
            </div>
        </div>
    </div>
</div>
{% endblock content %}