{% extends 'components/layout.html' %} 

{% block title %}
About Us
{% endblock title %}

{% block css %}
<link ref="stylesheet" href="../static/css/auth_pages.css">
{% endblock css %}

{% block content %}
<div class="container-fluid">
    <div class="row d-flex justify-content-center">
        <div class="col-6 about-page-whole-text d-flex flex-column justify-content-center">
            <h3 class="about-page-header">About Us</h3>
            <div class="about-page-main-text">
                What's Next is an application that helps people share and find recommendations for movies and tv shows. Users are encourages to make a list of their favorites in whichever category they choose, or alternatively, make a watchlist for things they hope to explore in the future!
            </div>
            <div class="about-page-resources-used">
                <h3 class="about-page header">Resources Used:</h3>
            </div>
            <div class="row d-flex justify-content-center">
                <div class="col-4 d-flex flex-column justify-content-center">
                    <img src="https://www.themoviedb.org/assets/2/v4/logos/v2/blue_short-8e7b30f73a4020692ccca9c88bafe5dcb6f8a62a4c6bc55cd9ba82bb2cd95f6c.svg" alt="" class="tmdb-attribution">
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}