<!--EXPLORE PAGE?-->
    <!--query database for 12 random users to display on page?-->
    
    <!-- search form for particular user-->



<div class="card">
    <div class="card-text">@handle - link to their profile</div>
    <div class="card-text">first_name(if in db)</div>
    <div class="card-text">follower number</div>
    <div class="card-text">short_bio (if it exists)</div>
    <div class="card-text">3 recommendations?</div>
    <button class="btn btn-outline-orange">Follow</button>
</div>
<div class="card">
    <div class="card-text">@handle - link to their profile</div>
    <div class="card-text">first_name(if in db)</div>
    <div class="card-text">follower number</div>
    <div class="card-text">short_bio (if it exists)</div>
    <div class="card-text">3 recommendations?</div>
    <button class="btn btn-outline-orange">Follow</button>
</div>
<div class="card">
    <div class="card-text">@handle - link to their profile</div>
    <div class="card-text">first_name(if in db)</div>
    <div class="card-text">follower number</div>
    <div class="card-text">short_bio (if it exists)</div>
    <div class="card-text">3 recommendations?</div>
    <button class="btn btn-outline-orange">Follow</button>
</div>