{% extends 'components/layout.html' %}

{% block title %}
Home
{% endblock title %}

{% block content %}
<div class="container-fluid d-flex flex-column justify-content-center">
    <!-- row for TV SERIES -->
    <div class="row d-flex flex-column justify-content-center m-4">
        <div class="col-10 col-xl-10 col-lg-10 col-md-6 col-sm-6 d-flex flex-column justify-content-center">
            <h1 class="deck_header">Media Type: TV</h1>
            <div class="card-deck d-flex flex-row flex-wrap">
                {% for i in range(9) %}
                <div class="card p-4 d-flex flex-column align-content-center">
                    <h4 class="card-header">Card Group - Card #{{ i }}</h4>
                    <div class="card-text">Poster Pic</div>
                    <div class="card-text">Title</div>
                    <div class="card-text">Description?</div>
                    <div class="card-text">Where to Watch/Listen</div>
                    <!-- buttons should only be displayed if user is logged in-->
                    <div class="buttons d-flex flex-row justify-content-between">
                        <button class="btn-outline-info">Add to Favorites</button>
                        <button class="btn-outline-info">Add to Watchlist</button>
                    </div>
                </div>
                {% endfor %}
            </div> <!-- end of card-deck div-->
            <a href="{{ url_for('tv_series') }}" class="view_more_link ml-auto">View More>>></a>
        </div> <!--end of col div-->
    </div> <!--end of row div-->

    <!-- row for MOVIES -->
    <div class="row d-flex flex-column justify-content-center m-4">
        <div class="col-10 col-xl-10 col-lg-10 col-md-6 col-sm-3 d-flex flex-column">
            <h1 class="deck_header">Media Type: Movies</h1>
            <div class="card-deck d-flex flex-row flex-wrap">
                {% for i in range(9) %}
                <div class="card p-4 d-flex flex-column align-content-center">
                    <h4 class="card-header">Card Group - Card #{{ i }}</h4>
                    <div class="card-text">Poster Pic</div>
                    <div class="card-text">Title</div>
                    <div class="card-text">Description?</div>
                    <div class="card-text">Where to Watch/Listen</div>
                    <!-- buttons should only be displayed if user is logged in-->
                    <div class="buttons d-flex flex-column justify-content-between">
                        <button class="btn-outline-info">Add to Favorites</button>
                        <button class="btn-outline-info">Add to Watchlist</button>
                    </div>
                </div>
               {% endfor %}
            </div> <!-- end of card-deck div-->
            <a href="{{ url_for('movies') }}" class="view_more_link ml-auto">View More>>></a>
        </div> <!--end of col div-->
    </div> <!--end of row div-->
    <!-- row for PODCASTS -->
    <div class="row d-flex flex-column justify-content-center m-4">
        <div class="col-10 col-xl-10 col-lg-10 col-md-4 col-sm-3 d-flex flex-column">
            <h1 class="deck_header">Media Type: PODCASTS</h1>
            <div class="card-deck d-flex flex-row justify-content-between flex-wrap">
                {% for i in range(9) %}
                <div class="card p-4 d-flex flex-column align-content-center">
                    <h4 class="card-header">Card Group - Card #{{ i }}</h4>
                    <div class="card-text">Poster Pic</div>
                    <div class="card-text">Title</div>
                    <div class="card-text">Description?</div>
                    <div class="card-text">Where to Watch/Listen</div>
                    <!-- buttons should only be displayed if user is logged in-->
                    <div class="buttons d-flex flex-column justify-content-between">
                        <button class="btn-outline-info">Add to Favorites</button>
                        <button class="btn-outline-info">Add to Watchlist</button>
                    </div>
                </div>
                {% endfor %}
            </div> <!-- end of card-deck div-->
            <a href="{{ url_for('podcasts') }}" class="view_more_link ml-auto">View More>>></a>
        </div> <!--end of col div-->

    </div> <!--end of row div-->
</div>
{% endblock content %}