{% extends 'components/layout.html' %}

{% block title %}
Movies
{% endblock title %}

{% block css %}
<link ref="stylesheet" href="../media_type.css">
{% endblock css %} 

{% block content %}
<div class="container-fluid mt-5">
    <div class="row d-flex justify-content-center m-4">
        <h1 class="deck_header">TRENDING</h1>
        <div class="card-deck d-flex flex-row">
            {% for i in range(trend_movies|length//2) %}
            <div class="card p-4 d-flex flex-column align-content-center">
                <img src="https://image.tmdb.org/t/p/w200/{{ trend_movies[i][0]['poster_path'] }}" alt="{{ trend_movies[i][0]['title'] }}" class="movie-poster">
                <div class="card-text">{{ trend_movies[i][0]['title'] }}</div>
                <div class="card-text">{{ trend_movies[i][0]['overview']}}</div>
                <div class="buttons d-flex flex-row justify-space-between">
                    <a href="{{ url_for('user_lists.addToMovie_Faves', movie_title=trend_movies[i][0]['title']) }}" class="btn btn-outline-info">Add to Your Favorites</a>
                    <a href="{{ url_for('user_lists.addToMovie_Watchlist', movie_title=trend_movies[i][0]['title']) }}" class="btn btn-outline-info">Add to Your Watchlist</a>
                </div>
            </div>
            {% endfor %}
        </div> <!-- end of card-deck div-->
    </div> <!--end of row div-->
    <div class="row d-flex justify-content-center m-4">
        <h1 class="deck_header">NOW PLAYING</h1>
        <div class="card-deck d-flex flex-row">
            {% for i in range(now_playing_movies|length//2) %}
            <div class="card p-4 d-flex flex-column align-content-center">
                <img src="https://image.tmdb.org/t/p/w200/{{ now_playing_movies[i][0]['poster_path'] }}" alt="{{  now_playing_movies[i][0]['title'] }}" class="movie-poster">
                <div class="card-text">{{  now_playing_movies[i][0]['title'] }}</div>
                <div class="card-text">{{  now_playing_movies[i][0]['overview']}}</div>
                <div class="buttons d-flex flex-row justify-space-between">
                    <!-- <a href="{{ url_for('user_lists.addToMovie_Faves', movie_title=now_playing_movies[i][0]['title']) }}" class="btn btn-outline-info">Add to Favorites</a> -->
                    <a href="{{ url_for('user_lists.addToMovie_Faves', movie_title=trend_movies[i][0]['title']) }}" class="btn btn-outline-info">Add to Your Favorites</a>
                    <a href="{{ url_for('user_lists.addToMovie_Watchlist', movie_title=trend_movies[i][0]['title']) }}" class="btn btn-outline-info">Add to Your Watchlist</a>
                </div>
            </div>
            {% endfor %}
    </div> <!--end of row div-->
    <div class="row d-flex justify-content-center m-4">
        <h1 class="deck_header">POPULAR</h1>
        <div class="card-deck d-flex flex-row">
            {% for i in range(pop|length//2) %}
            <div class="card p-4 d-flex flex-column align-content-center" style="width:18rem;">
                <img src="https://image.tmdb.org/t/p/w200/{{ pop[i][0]['poster_path'] }}" alt="{{ pop[i][0]['title'] }}" class="movie-poster">
                <div class="card-text">{{ pop[i][0]['title'] }}</div>
                <div class="card-text d-flex flex-wrap">{{ pop[i][0]['overview']}}</div>
                <div class="buttons d-flex flex-column justify-space-between">
                    <a href="{{ url_for('user_lists.addToMovie_Faves', movie_title=trend_movies[i][0]['title']) }}" class="btn btn-outline-info">Add to Your Favorites</a>
                    <a href="{{ url_for('user_lists.addToMovie_Watchlist', movie_title=trend_movies[i][0]['title']) }}" class="btn btn-outline-info">Add to Your Watchlist</a>
                </div>
            </div>
                {% endfor %}
        </div> <!-- end of card-deck div-->
    </div> <!--end of row div-->
    
</div> <!--end of container div-->
{% endblock content %}