{% extends 'components/layout.html' %}

{% block title %}
Movies
{% endblock title %}

{% block content %}
<div class="container-fluid mt-5">
    <div class="row d-flex justify-content-center m-4">
        <div class="col-10 col-xl-10 col-lg-10 col-md-6 col-sm-3">
            <h1 class="deck_header">MOVIE GROUP 1 - New Releases</h1>
            <div class="card-deck d-flex flex-row">
                {% for i in range(movie_list_length|length) %}
                <div class="card p-4 d-flex flex-column align-content-center">
                    <h4 class="card-header">Card Group - Card #{{ i }}</h4>
                    <div class="card-text">Poster Pic</div>
                    <div class="card-text">Title</div>
                    <div class="card-text">Description?</div>
                    <div class="buttons d-flex flex-row justify-content-between">
                        <button class="btn-outline-info">Add to Favorites</button>
                        <button class="btn-outline-info">Add to Watchlist</button>
                    </div>
                </div>
                {% endfor %}
            </div> <!-- end of card-deck div-->
        </div> <!--end of col div-->
    </div> <!--end of row div-->
    <div class="row d-flex justify-content-center m-4">
        <div class="col-10 col-xl-10 col-lg-10 col-md-6 col-sm-3">
            <h1 class="deck_header">MOVIE GROUP 2 - Currently Trending</h1>
            <div class="card-deck d-flex flex-row">
                {% for i in range(movie_list_length|length) %}
                <div class="card p-4 d-flex flex-column align-content-center">
                    <h4 class="card-header">Card Group - Card #{{ i }}</h4>
                    <div class="card-text">Poster Pic</div>
                    <div class="card-text">Title</div>
                    <div class="card-text">Description?</div>
                    <div class="buttons d-flex flex-row justify-content-between">
                        <button class="btn-outline-info">Add to Favorites</button>
                        <button class="btn-outline-info">Add to Watchlist</button>
                    </div>
                </div>
                {% endfor %}
            </div> <!-- end of card-deck div-->
        </div> <!--end of col div-->
    </div> <!--end of row div-->
    <div class="row d-flex justify-content-center m-4">
        <div class="col-10 col-xl-10 col-lg-10 col-md-6 col-sm-3">
            <h1 class="deck_header">MOVIE GROUP 3 - Classics</h1>
            <div class="card-deck d-flex flex-row">
                {% for i in range(movie_list_length|length) %}
                <div class="card p-4 d-flex flex-column align-content-center">
                    <h4 class="card-header">Card Group - Card #{{ i }}</h4>
                    <div class="card-text">Poster Pic</div>
                    <div class="card-text">Title</div>
                    <div class="card-text">Description?</div>
                    <div class="buttons d-flex flex-row justify-space-between">
                        <button class="btn-outline-info">Add to Favorites</button>
                        <button class="btn-outline-info">Add to Watchlist</button>
                    </div>
                </div>
                {% endfor %}
            </div> <!-- end of card-deck div-->
        </div> <!--end of col div-->
    </div> <!--end of row div-->
    <div class="row d-flex justify-content-center m-4">
        <div class="col-10 col-xl-10 col-lg-10 col-md-6 col-sm-3">
            <h1 class="deck_header">MOVIE GROUP 4 - Family Time Favorites</h1>
            <div class="card-deck d-flex flex-row">
                {% for i in range(movie_list_length|length) %}
                <div class="card p-4 d-flex flex-column align-content-center">
                    <h4 class="card-header">Card Group - Card #{{ i }}</h4>
                    <div class="card-text">Poster Pic</div>
                    <div class="card-text">Title</div>
                    <div class="card-text">Description?</div>
                    <div class="buttons d-flex flex-row justify-content-between">
                        <button class="btn-outline-info">Add to Favorites</button>
                        <button class="btn-outline-info">Add to Watchlist</button>
                    </div>
                </div>
                {% endfor %}
            </div> <!-- end of card-deck div-->
        </div> <!--end of col div-->
    </div> <!--end of row div-->
</div> <!--end of container div-->
{% endblock content %}