{% extends 'components/layout.html' %}

{% block title %}
TV Series
{% endblock title %}

{% block css %}
<link ref="stylesheet" href="../static/css/media_page.css">
{% endblock css %}


{% block content %}
<div class="container-fluid m-5">
    <div class="row card_row">
        <h1 class="deck_header">TRENDING</h1>
        <div class="card-deck">
            {% for i in range(trending_tv1|length) %}
            <div class="card">
                <img src="https://image.tmdb.org/t/p/w200/{{ trending_tv1[i][0]['poster_path'] }}" alt="{{ trending_tv2[i]['name'] }}" class="tv_poster">
                <div class="card-text show_title">{{ trending_tv1[i][0]['name'] }}</div>
                <div class="card-text show_description">{{ trending_tv1[i][0]['overview'] }}</div>       
                <div class="buttons-group d-flex flex-column justify-space-between">
                    <a class="btn btn-outline-info">Add to Your Favorites</a>
                    <a class="btn btn-outline-info">Add to Your Watchlist</a>
                </div>
            </div>
            {% endfor %}
        </div> <!-- end of card-deck div-->
    </div> <!--end of row div-->
    <div class="row card_row">
        <div class="card-deck">
            {% for i in range(trending_tv2|length) %}
            <div class="card">
                <img src="https://image.tmdb.org/t/p/w200/{{ trending_tv2[i][0]['poster_path'] }}" alt="{{ trending_tv2[i][0]['name'] }}" class="tv_poster">
                <div class="card-text show_title">{{ trending_tv2[i][0]['name'] }}</div>
                <div class="card-text show_description">{{ trending_tv2[i][0]['overview'] }}</div>       
                <div class="buttons-group d-flex flex-column justify-space-between">
                    <a class="btn btn-outline-info">Add to Your Favorites</a>
                    <a class="btn btn-outline-info">Add to Your Watchlist</a>
                </div>
            </div>
            {% endfor %}
        </div> <!-- end of card-deck div-->
    </div> <!--end of row div-->
    <div class="row card_row">
        <h1 class="deck_header">TOP RATED</h1>
        <div class="card-deck">
            {% for i in range(top_rated_tv|length//2) %}
            <div class="card">
                <img src="https://image.tmdb.org/t/p/w200/{{ top_rated_tv[i][0]['poster_path'] }}" alt="{{ top_rated_tv[i]['name'] }}" class="tv_poster">
                <div class="card-text show_title">{{ top_rated_tv[i][0]['name'] }}</div>
                <div class="card-text show_description">{{ top_rated_tv[i][0]['overview'] }}</div>       
                <div class="buttons-group d-flex flex-column justify-space-between">
                    <a class="btn btn-outline-info">Add to Your Favorites</a>
                    <a class="btn btn-outline-info">Add to Your Watchlist</a>
                </div>
            </div>
            {% endfor %}
        </div> <!-- end of card-deck div-->
    </div> <!--end of row div-->
    <div class="row card_row">
        <h1 class="deck_header">ON THE AIR THIS WEEK</h1>
        <div class="card-deck">
            {% for i in range(on_the_air|length//2) %}
            <div class="card">
                <img src="https://image.tmdb.org/t/p/w200/{{ on_the_air[i][0]['poster_path'] }}" alt="{{ on_the_air[i]['name'] }}" class="tv_poster">
                <div class="card-text show_title">{{ on_the_air[i][0]['name'] }}</div>
                <div class="card-text show_description">{{ on_the_air[i][0]['overview'] }}</div>       
                <div class="buttons-group d-flex flex-column justify-space-between">
                    <a class="btn btn-outline-info">Add to Your Favorites</a>
                    <a class="btn btn-outline-info">Add to Your Watchlist</a>
                </div>
            </div>
            {% endfor %}
        </div> <!-- end of card-deck div-->
    </div> <!--end of row div-->




</div> <!--end of container div-->
{% endblock content %}