{% extends 'components/layout.html' %}

{% block title %}
User Homepage
{% endblock title %}

{% block css %}
<link ref="stylesheet" href='{{ url_for("static", filename="css/user-home.css") }}'>
{% endblock css %}

{% block content %}
<div class="container-fluid m-5">
    <div class="row d-flex flex-row justify-content-between">
        <h1 class="deck_header">New Releases in TV</h1>
        <a href="#">View More</a>
    </div>
    <div class="media-scroller bg-dark snaps-inline">
        {% for i in range(latest_tv_list|length) %}
        <div class="media-card">
            <h5 class="card-text show_title">{{ latest_tv_list[i][0]['name'] }}</h5>
            <img src="https://image.tmdb.org/t/p/w200/{{ latest_tv_list[i][0]['poster_path'] }}" alt="{{ latest_tv_list[i]['name'] }}" class="tv_poster">            
            <div class="card-text show_description">{{ latest_tv_list[i][0]['overview'] }}</div>       
            <div class="buttons-group d-flex flex-column justify-space-between">
                <a href="{{ url_for('user_lists.addToTV_Faves', show_title=latest_tv_list[i][0]['name']) }}" class="btn btn-outline-info">Add to Your TV Favorites</a>
                <a href="{{ url_for('user_lists.addToTV_Watchlist', show_title=latest_tv_list[i][0]['name']) }}" class="btn btn-outline-info">Add to Your TV Watchlist</a>
            </div>
        </div>
        {% endfor %}
    </div> <!-- end of card-deck div-->
</div>
<div class="container-fluid">
    <div class="row d-flex flex-row justify-content-center align-content-center">
        <h3 class="user_homepage_row_header">New Releases in Movies</h3>
    </div>
    <div class="media-scroller snaps-inline">
        {% for i in range(new_release_movies|length) %}
        <div class="media-card">
            <h5 class="movie-title justify-content-center font-weight-bold bg-color-transparent">{{ new_release_movies[i][0]['title'] }}</h5>
            <img src="https://image.tmdb.org/t/p/w200/{{ new_release_movies[i][0]['poster_path'] }}" alt="{{ new_release_movies[i][0]['title'] }}" class="movie-poster">
            <div class="buttons-group d-flex flex-column justify-content-between">
                <a href="{{ url_for('user_lists.addToMovie_Faves', movie_title=new_release_movies[i][0]['title']) }}" class="btn btn-outline-info">Add To Movie Favorites</a>
                <a href="{{ url_for('user_lists.addToMovie_Watchlist', movie_title=new_release_movies[i][0]['title']) }}" class="btn btn-outline-info">Add to Movie Watchlist</a>
            </div>
        </div>
        {% endfor %}
    </div>
    <!-- should have cards linking to other friends pages-->
    <div class="row d-flex flex-column justify-content-center align-content-center">
            <h3 class="user_homepage_row_header">See What Your Friends are Loving....</h3>
        </div>
    </div>
</div>
{% endblock content %}