{% extends 'components/layout.html' %} 

{% block title %}
<!-- will be same for other people's profiles and for your own profile?  -->
{% endblock title %}

{% block css %}
{% endblock css %}

{% block content %}
<div class="container-fluid mr-4">
    <div class="row d-flex flex-column m-4 p-5 justify-content-between">
        <div class="col-9 justify-content-around d-flex flex-row">
            <div class="card-deck d-flex flex-column p-4 justify-content-center">Your Watchlist
                <div class="card">To Watch - Movies</div>
                <div class="card">To Watch - TV Series</div>
                <div class="card">To Listen - Podcasts</div>
                <div class="card">To Read - Books</div>
            </div>
            <div class="card-deck d-flex flex-column">Your Favorites
                <div class="card">Favorite Movies</div>
                <div class="card">Favorite TV Series</div>
                <div class="card">Favorite Podcasts</div>
                <div class="card">Favorite Books</div>
            </div> 
        </div>
    </div>
    <div class="row d-flex flex-column justify-content-center m-0">
        <h3>What your followers are currently loving/recommending</h3>
        <div class="col-9">
            <div class="card-deck d-flex flex-row m-0 align-content-center justify-content-center"> 
                <div class="card">1</div>
                <div class="card">2</div>
                <div class="card">3</div>
                <div class="card">4</div>
                <div class="card">5</div>
                <div class="card">6</div>
                <div class="card">7</div>
                <div class="card">8</div>
                <div class="card">9</div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid float-left"></div>
    <div class="side-panel align-content-center float-right pr-4 mr-4">
        <div class="profile_info">Username</div>
        <div class="profile_info">Short_Bio/Personal Quote</div>
        <div class="profile_info">Bio</div>
        <div class="profile_info">Following Number and Link</div>
        <div class="profile_info">Followers Number and Link</div>
    </div>
</div>
{% endblock content %}